@{
    ViewData["Title"] = "Sign In";
}


<div class="" style="overflow-x: clip">
    <img src="~/assets/login2.svg" style="width: 100%; position: absolute; left: 0 ;top:-65px; z-index: 0">
    <div style="position: relative; top: 150px; left: 400px; z-index: 10">
        @model project_pbo.Models.UserModel
        <form asp-controller="Auth" asp-action="Login">
            <div class="col-4 mb-3">
                <label asp-for="Email" class="form-label" style="color: white">Email address</label>
                <input asp-for="Email" type="email" class="form-control" id="Email">
            </div>
            <div class="mb-3 col-4">
                <label asp-for="Password" class="form-label" style="color: white">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="Password">
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-primary" id="login">Login</button>
                <button type="button" class="btn btn-success" id="register">Register</button>
            </div>

        </form>
        <img style="position: relative; z-index: 12" src="~/assets/loading2.gif" width=350 id="loading">
        <br>

        <div style="position: relative; z-index: 10" class="alert alert-danger col-4" role="alert" id="errorAlert">
            Email atau Password salah!
        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
      $("#loading").hide();
      $("#errorAlert").hide();
      $("#home").click(function() {
          window.location.href = "/Home"
      })

      $("#register").click(function() {
          window.location.href = "/Auth/SignUp"
      })

      $("#login").click(function () {
      $("#errorAlert").hide();
      $("#loading").show();
      const email = $("#Email").val();
      const password = $("#Password").val();
      $.ajax({
        type: "POST",
        url: "/Auth/Login",
        data: { email: email, password: password },
        success: function (resdata) {
          console.log("Login Success");
          $("#loading").hide();
          if (!resdata) {
              $("#errorAlert").show();
              
          } else {
              console.log(resdata);
              sessionStorage.setItem("name", resdata.firstName + " " + resdata.lastName);
              sessionStorage.setItem("id", resdata.userId);
              sessionStorage.setItem("firstName", resdata.firstName);
              sessionStorage.setItem("lastName", resdata.lastName);
              sessionStorage.setItem("email", resdata.email);
              sessionStorage.setItem("address", resdata.address);
              sessionStorage.setItem("phone", resdata.phone);
              sessionStorage.setItem("isAdmin", resdata.isAdmin);
              window.location.href = "/Home";
          }
        },
        error: function (result, status, err) {
          $("#loading").hide();
          console.log("error", result.responseText);
          console.log("error", status.responseText);
          console.log("error", err.Message);
        }
      });
    });
</script>